{% extends "Pagina.html" %} {% block content %}

<body class="darkmode">
    <nav class="main-menu">
        <div>
            <div class="user-info">
                <i>
                    <img src="https://cdn-icons-png.flaticon.com/256/2491/2491325.png" />
                </i>
                <h1>Inicio</h1>
            </div>
            <ul>

                <li class="nav-item active">
                    <a href="/predict/redn">
                        <i>
                            <img src="https://cdn-icons-png.flaticon.com/256/13749/13749754.png" width="20" height="20">
                        </i>
                        <span class="nav-text">RedN</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/predict/espirales">
                        <i>
                            <img src="https://cdn-icons-png.flaticon.com/512/136/136837.png   " width="20" height="20">
                        </i>
                        <span class="nav-text">Espirales</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/predict/ondas">
                        <i>
                            <img src="https://cdn-icons-png.flaticon.com/256/5542/5542162.png" width="20" height="20">
                        </i>
                        <span class="nav-text">Ondas</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" onclick="window.open('https://pubmed.ncbi.nlm.nih.gov/36554060/', '_blank')">
                        <i>
                            <img src="https://cdn-icons-png.flaticon.com/256/76/76148.png" width="20" height="20">
                        </i>
                        <span class="nav-text">Dataset</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="window.open('https://github.com/ArianaST?tab=repositories', '_blank')">
                        <i>
                            <img src="https://cdn-icons-png.flaticon.com/256/2111/2111432.png" width="20" height="20">
                        </i>
                        <span class="nav-text">Github</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <section class="content">
        <div class="upcoming-events">
        <h1>API para personal médico.</h1>
            <div class="reviews">
                <div class="review-container">
                    <div class="card review-card">
                        <h2 id="image-title">Cargar Imagen</h2> <!-- ID añadido aquí -->
                        <!-- ... el resto de tu HTML ... -->
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                            <label for="imageUpload" class="upload-label">
                                Elegir Imagen
                            </label>
                            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                        </form>
                        
                        <div class="image-section" style="display:none;">
                            <div class="img-preview">
                                <div id="imagePreview"></div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-dark" id="btn-predict">Predicción</button>
                            </div>
                        </div>
                        
                        <div class="loader" style="display:none;"></div>
                        
                        <h3 id="result"><span></span></h3>
                    </div>
            </section>
    </div>

    {% endblock %}
